:host {
  display: block;
}

.order-management-page {
  padding: 32px;
}

:host-context(.admin-home-page) .order-management-page {
  padding: 0;
}

:host-context(.admin-home-page) .back-link {
  display: none;
}

:host-context(.admin-home-page) .page-header {
  margin: 24px 0;
}

.order-management-page table {
  width: 100%;
  margin-top: 24px;
}
